div {
    border: 5px solid red;
}

.outer {
    height: 100px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.inner {
    display: inline-block;
    height: 400px;
    width: 12%;

}

.middle {
    display:inline-block;
    height: 400px;
    width: 70%;
    margin-left: 5px;
    margin-right: 5px;
}